<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="#"><i class="fa fa-home"></i> Trang chủ</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Blogs")"><i class="fa fa-newspaper-o"></i> Quản lý bài viết</a>
            </li>
            <li>
                <a><i class="fa fa-user"></i> Quản lý tài khoản <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Index", "Accounts")">Tài khoản bác sỹ & bệnh nhân</a></li>
                    <li><a href="@Url.Action("GetListDoctor", "Accounts")">Tài khoản bác sỹ</a></li>
                    <li><a href="@Url.Action("GetListPatient", "Accounts")">Tài khoản bệnh nhân</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index", "Products")"><i class="fa fa-users"></i> Danh mục bác sỹ</span></a>
            </li>
            <li>
                <a><i class="fa fa-cart-plus"></i> Quản lý lịch hẹn <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("GetListTransactions", "Orders")">Tất cả lịch hẹn bác sỹ</a></li>
                    <li><a href="@Url.Action("GetListCashWithDrawal", "Orders")">Rút tiền</a></li>
                    <li><a href="@Url.Action("GetListRecharge", "Orders")">Nạp tiền</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-cog"></i> Cài đặt <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="@Url.Action("Index", "Resources")">Resource</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>